$bkg-color: #EDEBD7;
$text-color: #000000;

$accent-color: #E3B23C;

:root {
    color: $text-color;
}

body {
    padding: 1rem;
    background-color: $bkg-color;
}

div {
    background-color: "fg7g7d";
    // background-color: $bkg-color; 
}

.prank {
    // color: $bkg-color;
    color: $text-color;
    background-color: $accent-color;
}

.default-div{
    background-color: "fg7g7d";
}