$bkg-color: #EDEBD7;
$text-color: #000000;

$accent-color: #E3B23C;

.main {
    background-color: $bkg-color;
}

.prank {
    // color: $bkg-color;
    color: $text-color;
    background-color: $accent-color;
}

.default-div{
    background-color: $bkg-color;
}