$bkg-color: #EDEBD7;
$text-color: #000000;

$accent-color: #E3B23C;

.main {
    background-color: $bkg-color;
}


.centerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}