$background-darker: #070707;
$background-lighter: #101010;

$white-text-darker: #ffffff;

$description-color: #645e7a;

// .background {
//     background: linear-gradient(0deg, $background-darker, $background-lighter);
//     // background-color: $background-darker;

// }

.background {
    

    background: #fff5e9;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;


    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .body{
    text-align: center;
    margin: 5vw;
  }

  .muleMascot{
    margin: 1rem;
    width: max(200px, 30vw);
    height: auto;
  }
